/*----------------------------------------------------------------------------*/
/* Grundlegende Einstellungen */
/*----------------------------------------------------------------------------*/
* {
    -fx-font-family: "Arial";
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

/*----------------------------------------------------------------------------*/
/* GridPane */
/*----------------------------------------------------------------------------*/
.gridpane {
    -fx-min-width: 1280;
    -fx-min-height: 800;
    -fx-background-color: #f0f0f0;
    -fx-padding: 10px;
    -fx-hgap: 10px;
    -fx-vgap: 10px;
    -fx-background-color: #FFFFFF; /*#ECEFF1; /* Sanftes Grau */
    -fx-border-color: #ddd;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;

    -fx-background-image: url("city-3029164_1280.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 1280 800;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}


/*----------------------------------------------------------------------------*/
/* Buttons */
/*----------------------------------------------------------------------------*/
/* Allgemeine Einstellungen für Buttons */
.button {
    -fx-text-fill: white;
    -fx-padding: 10 20;
    -fx-font-size: 14px;
    -fx-background-insets: 0;
    -fx-background-color: white;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
    -fx-border-width: 3;
}
/* Weiter/Ok Button */
.button-weiter-ok {
    -fx-border-color: green;
    -fx-text-fill: green;
}
.button-weiter-ok:hover {
    -fx-background-color: green;
    -fx-text-fill: white;
}
.button-weiter-ok:pressed {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}
/* Zurück/Abbrechen Button */
.button-zurueck-abbrechen {
    -fx-border-color: gray;
    -fx-text-fill: gray;
}
.button-zurueck-abbrechen:hover {
    -fx-background-color: gray;
    -fx-text-fill: white;
}
.button-zurueck-abbrechen:pressed {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}
/* Vorsicht/Beenden/Löschen Button */
.button-vorsicht-beenden-loeschen {
    -fx-border-color: red;
    -fx-text-fill: red;
}
.button-vorsicht-beenden-loeschen:hover {
    -fx-background-color: red;
    -fx-text-fill: white;
}
.button-vorsicht-beenden-loeschen:pressed {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}
/* Neutral Button */
.button-neutral {
    -fx-border-color: black;
    -fx-text-fill: black;
}
.button-neutral:hover {
    -fx-background-color: black;
    -fx-text-fill: white;
}
.button-neutral:pressed {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}
/* Streckenlinie zeichnen Button */
.button-streckenlinie {
    -fx-background-color: blue;
}
.button-streckenlinie:hover {
    -fx-background-color: lightblue;
}
.button-streckenlinie:pressed {
    -fx-background-color: lightblue;
    -fx-border-color: black;
}
/* Startlinie zeichnen Button */
.button-startlinie {
    -fx-background-color: red;
}
.button-startlinie:hover {
    -fx-background-color: orangered;
}
.button-startlinie:pressed {
    -fx-background-color: orangered;
    -fx-border-color: black;
}

/*----------------------------------------------------------------------------*/
/* Labels */
/*----------------------------------------------------------------------------*/
.label-superlarge {
    -fx-font-size: 36px;
    -fx-text-fill: #333;
    -fx-background-color: transparent;
}
.label-superlarge_with_background {
    -fx-font-size: 36px;
    -fx-text-fill: #333;
    -fx-background-color: white;
}
.label-large {
    -fx-font-size: 24px;
    -fx-text-fill: #333;
    -fx-background-color: transparent;
}
.label-large_with_background {
    -fx-font-size: 24px;
    -fx-text-fill: #333;
    -fx-background-color: white;
}
.label-medium {
    -fx-font-size: 18px;
    -fx-text-fill: #333;
    -fx-background-color: transparent;
}
.label-medium_with_background {
    -fx-font-size: 18px;
    -fx-text-fill: #333;
    -fx-background-color: white;
}
.label-medium_with_background {
    -fx-font-size: 18px;
    -fx-text-fill: #333;
    -fx-background-color: white;
}
.label-small {
    -fx-font-size: 14px;
    -fx-text-fill: #333;
    -fx-background-color: transparent;
}
.label-small_with_background {
    -fx-font-size: 14px;
    -fx-text-fill: #333;
    -fx-background-color: white;
}
.label-error {
    -fx-background-color: red;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-text-fill: white;
}
.label-error-large {
    -fx-background-color: transparent;
    -fx-font-weight: bold;
    -fx-font-size: 24px;
    -fx-text-fill: red;
}

/*----------------------------------------------------------------------------*/
/* ListView */
/*----------------------------------------------------------------------------*/
.list-view-modern {
    -fx-background-color: #FFFFFF8F;
    -fx-border-color: black;
    -fx-border-width: 0px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-padding: 10px;
    -fx-content-display:left;
}
.list-view-modern .list-cell { /* cell ohne inhalt*/
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-width: 0px;
    -fx-border-radius: 20px;
    -fx-padding: 10px 20px 10px 20px;
    -fx-font-size: 14px;
    -fx-text-fill: #333;
    -fx-content-display:left;
}
.list-view-modern .list-cell:filled:even {  /* gerader zellenindex mit inhalt*/
    -fx-background-color: transparent;
    -fx-background-radius: 20px;
    -fx-border-color: black;
    -fx-border-width: 0px;
    -fx-border-radius: 20px;
    -fx-padding: 10px 20px 10px 20px;
    -fx-font-size: 20px;
    -fx-text-fill: #000000D0;
    -fx-content-display:left;
}
.list-view-modern .list-cell:filled:odd {  /* ungerader zellenindex mit inhalt*/
    -fx-background-color: transparent;
    -fx-background-radius: 20px;
    -fx-border-color: black;
    -fx-border-width: 0px;
    -fx-border-radius: 20px;
    -fx-padding: 10px 20px 10px 20px;
    -fx-font-size: 20px;
    -fx-text-fill: #000000D0;
    -fx-content-display:left;
}
.list-view-modern .list-cell:filled:selected {
    -fx-background-color: #00000030;
    -fx-text-fill: white;
}


.list-view-modern .list-cell:filled:hover {
    /*-fx-border-color: gray;
    -fx-border-width: 1px;*/
    -fx-font-weight: bold
}


.list-view-classic {
    -fx-background-color: #FFFFFF8F;
    -fx-border-color: black;
    -fx-border-width: 0px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-padding: 10px;
}
.list-view-classic .list-cell { /* cell ohne inhalt*/
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-width: 0px;
    -fx-border-radius: 20px;
    -fx-padding: 10px;
    -fx-font-size: 14px;
    -fx-text-fill: #333;
}
.list-view-classic .list-cell:filled:even {  /* gerader zellenindex mit inhalt*/
    -fx-background-color: #FFFFFF8F;
    -fx-background-radius: 10px;
    -fx-border-width: 0px;
    -fx-border-color: black;
    -fx-border-radius: 20px;
    -fx-padding: 10px;
    -fx-font-size: 14px;
    -fx-text-fill: #000000B0;
}
.list-view-classic .list-cell:filled:odd {  /* ungerader zellenindex mit inhalt*/
    -fx-background-color: #FFFFFFBF;
    -fx-background-radius: 10px;
    -fx-border-width: 0px;
    -fx-border-color: black;
    -fx-border-radius: 20px;
    -fx-font-size: 14px;
    -fx-text-fill: #000000E0;
}
.list-view-classic .list-cell:filled:selected {
    -fx-background-color: #00000050;
    -fx-text-fill: white;
}


.list-view-classic .list-cell:filled:hover {
    /*-fx-border-color: gray;
    -fx-border-width: 1px;*/
    -fx-font-weight: bold
}



/*----------------------------------------------------------------------------*/
/* TextField */
/*----------------------------------------------------------------------------*/
/* Allgemeine Einstellungen für TextField */
.text-field {
    -fx-text-fill: black;
    -fx-padding: 10px 20px;
    -fx-font-size: 14px;
    -fx-background-insets: 0;
    -fx-background-color: white;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
    -fx-border-width: 3px;
    -fx-border-color: black;
}

.text-field-neutral {
    -fx-text-fill: black;
    -fx-padding: 5px 10px 5px 10px; /* oben rechts unten links*/
    -fx-font-size: 14px;
    -fx-background-insets: 0;
    -fx-background-color: white;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
    -fx-border-width: 3px;
    -fx-border-color: black;
}